In [21]:
# 라이브러리 import 영역

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

plt.rc('font', family='Malgun Gothic')

In [2]:
def draw_graph(df1, df2):
    # 장준혁씨 작업부분
    # graph 그릴 부분을 두개 만들고 df1, df2로 받아 각각 영역에 그리 도록 작성
    # df1, df2 공히 X 축 데이터는 index로 잡고 Y 축은 ['cat'] 으로 작성
    # plt 개체를 return
    pass

In [3]:
def get_confDF(filename):
    pass

In [71]:
# 데이터를 읽어 df1, df2 생성 부분
df = pd.read_csv('./월간_국내카드승인실적.csv', encoding='cp949')

,한국표준산업분류별,2018.01,2018.02,2018.03,2018.04,2018.05,2018.06,2018.07,2018.08,2018.09,...,2022.02,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11
0,도매 및 소매업,2966,2887,3161,3087,3203,3096,3272,3116,3245,...,4047,4606,4673,4879,4695,5000,5033,5025,5051,5047
1,운수업,173,139,156,160,162,157,166,161,145,...,64,82,108,124,122,115,119,128,135,137
2,숙박 및 음식점업,962,868,1026,1016,1084,1042,1093,1107,1019,...,780,939,1150,1316,1248,1314,1276,1192,1316,1208
3,사업시설관리 및 사업지원 서비스업,45,38,40,41,43,40,46,40,42,...,20,27,32,35,34,34,31,34,40,38
4,교육서비스업,113,106,120,100,110,107,119,127,104,...,135,145,136,152,146,154,171,150,145,148
5,보건업 및 사회복지 서비스업,397,337,372,356,362,356,373,375,337,...,449,479,481,492,479,496,504,477,496,512
6,"예술, 스포츠 및 여가관련 서비스업",69,68,99,107,118,116,110,106,113,...,80,116,148,169,161,160,148,154,169,145
7,"협회 및 단체, 수리 및 기타 개인 서비스업",156,143,168,162,168,163,171,163,155,...,145,169,191,193,185,192,187,184,198,192

In [106]:
col_name_app = df['한국표준산업분류별']

df1 = df.drop('한국표준산업분류별', axis=1)

df1 = df1.T
df1.columns = col_name_app
df_app = df1.drop(['도매 및 소매업', '운수업', '사업시설관리 및 사업지원 서비스업', '예술, 스포츠 및 여가관련 서비스업', '협회 및 단체, 수리 및 기타 개인 서비스업'], axis=1)

df_app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 2018.01 to 2022.11
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   숙박 및 음식점업        59 non-null     int64
 1   교육서비스업           59 non-null     int64
 2   보건업 및 사회복지 서비스업  59 non-null     int64
dtypes: int64(3)
memory usage: 1.8+ KB

In [107]:
df_app

한국표준산업분류별  숙박 및 음식점업  교육서비스업  보건업 및 사회복지 서비스업
2018.01          962     113              397
2018.02          868     106              337
2018.03         1026     120              372
2018.04         1016     100              356
2018.05         1084     110              362
2018.06         1042     107              356
2018.07         1093     119              373
2018.08         1107     127              375
2018.09         1019     104              337
2018.10         1059     112              385
2018.11         1031     119              387
2018.12         1161     145              403
2019.01         1032     122              423
2019.02          935     115              370
2019.03         1083     129              390
2019.04         1049     113              404
2019.05         1136     125              408
2019.06         1087     119              379
2019.07         1114     133              421
2019.08         1151     144              414
2019.09          998     121              375
2019.10         1122     120              430
2019.11         1091     122              427
2019.12         1213     124              448
2020.01         1042     129              444
2020.02          869     109              399
2020.03          802      72              359
2020.04          908      90              379
2020.05         1107     119              418
2020.06         1033     119              430
2020.07         1088     124              442
2020.08         1021     128              414
2020.09          854     102              421
2020.10         1016     115              419
2020.11          957     119              424
2020.12          730      94              447
2021.01          697     113              437
2021.02          761     121              416
2021.03          931     139              474
2021.04          935     121              461
2021.05          997     134              441
2021.06          978     133              464
2021.07          941     137              473
2021.08          888     150              456
2021.09          926     132              435
2021.10         1058     135              477
2021.11         1092     138              491
2021.12         1041     135              501
2022.01          930     140              488
2022.02          780     135              449
2022.03          939     145              479
2022.04         1150     136              481
2022.05         1316     152              492
2022.06         1248     146              479
2022.07         1314     154              496
2022.08         1276     171              504
2022.09         1192     150              477
2022.10         1316     145              496
2022.11         1208     148              512

In [138]:
df2 = pd.read_csv('./월별_소비자물가_등락률.csv', encoding='cp949')
df2

,지수종류(1),2018.01,2018.01.1,2018.01.2,2018.02,2018.02.1,2018.02.2,2018.03,2018.03.1,2018.03.2,...,2022.08.2,2022.09,2022.09.1,2022.09.2,2022.10,2022.10.1,2022.10.2,2022.11,2022.11.1,2022.11.2
0,지수종류(1),전월비 (%),전년동월비(%),전년누계비(%),전월비 (%),전년동월비(%),전년누계비(%),전월비 (%),전년동월비(%),전년누계비(%),...,전년누계비(%),전월비 (%),전년동월비(%),전년누계비(%),전월비 (%),전년동월비(%),전년누계비(%),전월비 (%),전년동월비(%),전년누계비(%)
1,총지수,0.4,0.8,0.8,0.8,1.3,1.0,-0.1,1.2,1.1,...,5.0,0.3,5.6,5.0,0.3,5.7,5.1,-0.1,5.0,5.1
2,생활물가지수,0.6,0.7,0.7,1.0,1.3,1.0,-0.2,1.1,1.0,...,6.0,0.6,6.5,6.0,0.1,6.5,6.1,-0.3,5.5,6.0
3,신선식품지수,5.1,-5.2,-5.2,8.9,2.6,-1.3,-5.3,-1.2,-1.3,...,4.8,2.8,12.8,5.7,-6.1,11.4,6.3,-8.0,0.8,5.8
4,농산물및석유류제외지수,0.2,0.9,0.9,0.4,1.1,1.0,0.2,1.3,1.1,...,3.8,0.3,4.5,3.9,0.6,4.8,4.0,0.3,4.8,4.1
5,식료품및에너지제외지수,0.2,1.0,1.0,0.4,1.2,1.1,0.2,1.3,1.2,...,3.3,0.0,4.1,3.4,0.4,4.2,3.5,0.3,4.3,3.6

In [139]:
df2 = df2.drop('지수종류(1)', axis=1)
df_idx = pd.DataFrame(df2.iloc[2:4])

df_idx.index = ['생활물가', '신선식품']
df_idx = df_idx.T

for idx in df_idx.index:
    if len(idx) > 7:
        df_idx.drop(idx, axis=0, inplace=True)
        
df_idx = df_idx.astype(float)

df_idx_cum = df_idx.cumsum()

print(df_idx_cum.info())

<class 'pandas.core.frame.DataFrame'>
Index: 59 entries, 2018.01 to 2022.11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   생활물가    59 non-null     float64
 1   신선식품    59 non-null     float64
dtypes: float64(2)
memory usage: 1.4+ KB
None

In [134]:


print(df_idx_cum)

# plt.style.use('ggplot')

# df1.plot(kind='line', figsize=(20, 10))

# plt.show()

         생활물가  신선식품
2018.01   0.6   5.1
2018.02   1.6  14.0
2018.03   1.4   8.7
2018.04   1.4   9.1
2018.05   1.4   5.5
2018.06   1.3   0.0
2018.07   0.9  -0.9
2018.08   2.1  17.3
2018.09   3.4  26.6
2018.10   3.1  18.4
2018.11   2.1   9.8
2018.12   1.3   9.8
2019.01   1.0   9.6
2019.02   1.6  11.7
2019.03   1.4   8.6
2019.04   1.7   9.3
2019.05   2.2   6.3
2019.06   2.1   2.8
2019.07   1.3   0.3
2019.08   1.6   3.7
2019.09   2.4  11.3
2019.10   2.8  11.2
2019.11   2.2   5.1
2019.12   2.3   8.3
2020.01   2.6  13.0
2020.02   2.7  12.0
2020.03   2.7  13.6
2020.04   1.9  11.6
2020.05   1.7  10.8
2020.06   2.2   9.8
2020.07   1.7  12.8
2020.08   2.4  22.1
2020.09   3.5  30.9
2020.10   2.2  29.2
2020.11   2.3  18.1
2020.12   2.5  17.9
2021.01   3.6  23.5
2021.02   4.5  30.3
2021.03   4.9  29.7
2021.04   5.0  26.8
2021.05   5.0  23.4
2021.06   5.1  19.7
2021.07   5.1  19.4
2021.08   5.6  23.1
2021.09   6.5  27.8
2021.10   6.7  22.8
2021.11   7.3  24.5
2021.12   6.9  25.4
2022.01   7.5  30.3
2022.02   8.4  30.2
2022.03   9.6  28.2
2022.04  10.4  28.4
2022.05  11.4  26.4
2022.06  12.2  25.4
2022.07  12.6  32.3
2022.08  12.1  37.7
2022.09  12.7  40.5
2022.10  12.8  34.4
2022.11  12.5  26.4